[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pyyaml = "*"
uritemplate = "*"
drf-spectacular = "*"
psycopg2-binary = "*"
django-environ = "*"
djangorestframework-simplejwt = "*"
flake8-for-pycharm = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.6"
